.project
.classpath
.settings/
/bin/
.sonar
/target
.factorypath
.directory
Icon/*
Icon*
Icon
app/js/*
node_modules/
package-lock.json

.idea
*.iml
*/rebel.xml
*/nb-configuration.xml
.vscode
rebel.xml
*.class

generated/
/.DS_Store

